<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> PexiStore Hosting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/" style="font-size: 25px;"><img src="assets/img/logo/logo.png" alt=""> PexiStore</a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="/">Home</a></li>
                                                <li><a href="#packages">Packages</a></li>
                                                <li><a href="#helpDesk">Help</a></li>
                                                <li><a href="#helpDesk">Contact</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="#packages" class="btn">Buy Now!</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-5 col-lg-5 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">The best for starting businesses</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s ">Powerful web hosting</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s">The best WebHosting provider for new businesses in Europe and rest of the world. Starting at $5.99/month.</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="#packages" class="btn radius-btn">get started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="assets/img/hero/hero_right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">The best for starting businesses</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s ">Powerful web hosting</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s">The best WebHosting provider for new businesses in Europe and rest of the world. Starting at $5.99/month.</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="#packages" class="btn radius-btn">get started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="assets/img/hero/hero_right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!-- Domain-search start -->
        <div class="domain-search-area section-bg1">
           <div class="container">
               <div class="row">
                   <div class="col-xl-4 col-lg-5">
                       <h2>Search new domain</h2>
                       <p>Choose your domain and bring your ideas live!</p>
                   </div>
                   <div class="col-xl-8 col-lg-7">
                    <!--Hero form -->
                    <form action="#" class="search-box">
                        <div class="input-form">
                            <input type="text" placeholder="Search for a domain (COMING SOON! - Oct, 1.)" disabled>
                            <!-- icon search -->
                            <div class="search-form">
                                <button><i class="ti-search"></i></button>
                            </div>
                            <!-- icon search -->
                            <div class="world-form">
                                <i class="fas fa-globe"></i>
                            </div>
                        </div>
                    </form>	
                    <!-- Domain List -->
                    <div class="single-domain pt-30 pb-30">
                        <ul>
                            <li><span>.com</span> <p>$15.99</p></li>
                            <li><span>.net</span> <p>$10.99</p></li>
                            <li><span>.rog</span> <p>$10.99</p></li>
                            <li><span>.me</span> <p>$10.99</p></li>
                        </ul>
                    </div>
                    <!-- Domain List  End-->
                </div>
            </div>
        </div>
    </div>
    <!-- Domain-search End -->
    <!--? Team -->
    <section class="team-area section-padding40 section-bg1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-105">
                        <h2>Most amazing features</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">High Quality Servers</a></h5>
                            <p>We use DigitalOcean's droplets which are at very high quality level.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Commitment to Security</a></h5>
                            <p>Your server is very well protected from DDoS attacks and/or hacking attempts, never worry about security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Passion for Privacy</a></h5>
                            <p>We don't share data; your data are in safe hands.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Malicious Methods Banned</a></h5>
                            <p>When using our shared hosting, we will ban every malicious function/module for you automatically! unless you ask us to unban them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services5.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">24/7 Support</a></h5>
                            <p>Premium user or not, our support is always here for you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services6.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">100% Uptime Guaranteed</a></h5>
                            <p>The best hosting provider with almost no down-time since Aug. 14.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!--? Pricing Card Start -->
    <section class="pricing-card-area fix">


        <style>
            .field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input{
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}

.field__input:focus{
  outline: none;
}

.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
}

.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}

/* 
effect 1
*/

.field_v1 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
  will-change: opacity;
}

/* 
effect 2
*/

.field_v2 .field__label-wrap{
  overflow: hidden;
}

.field_v2 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transform: translate3d(-105%, 0, 0);
  will-change: transform, opacity;
  transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after{
  border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
  height: 100%;
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}
        </style>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mb-90">
                        <h2>Choose plan which fit for you</h2>
                        <p>Save your money by deploying your server here, at PexiStore!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="packages">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Shared Hosting</h4>
                            <p>Starting at</p>
                        </div>
                        <div class="card-mid">
                            <h4>$5.99 <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom" id="shared-bottom">
                            <ul>
                                <li>100 GB of space</li>
                                <li>unlimited bandwidth</li>
                                <li>full backup systems</li>
                                <li>Plesk control panel</li>
                                <li>unlimited database</li>
                            </ul>
                            <a href="javascript:;" class="borders-btn" id="shared-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price2.svg" alt="">
                            <h4>VPS Hosting</h4>
                            <p>Starting at</p>
                        </div>
                        <div class="card-mid">
                            <h4>$15.00 <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom" id="vps-bottom">
                            <ul>
                                <li>500 GB of space</li>
                                <li>unlimited bandwidth / database</li>
                                <li>full backup systems</li>
                                <li>Plesk control panel</li>
                                <li>no annoying neighbors</li>
                            </ul>
                            <a href="javascript:;" class="borders-btn" id="vps-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price3.svg" alt="">
                            <h4>Dedicated Hosting</h4>
                            <p>ON DEMAND</p>
                        </div>
                        <div class="card-mid">
                            <h4>CUSTOM</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>To get a dedicated server</li>
                                <li>at PexiStore. Contact us at:</li>
                                <li>stripe.payments.online@gmail.com</li>
                                <li>-OR-</li>
                                <li>+1 (567) 268-8320</li>
                            </ul>
                            <a href="mailto:stripe.payments.online@gmail.com" class="borders-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->
    <!--? About-1 Area Start -->
    <div class="about-area1 section-padding40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="assets/img/gallery/about1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Our servers locations</h2>
                        </div>
                        <p class="mb-40">We support server locations that are supported by DigitalOcean as we are partners with them. our top locations are:</p>
                        <ul>
                            <li>
                                <img src="assets/img/icon/right.svg" alt="">
                                <p>New York ( Shared Hosting // VPS Hosting )</p>
                            </li>
                            <li>
                                <img src="assets/img/icon/right.svg" alt="">
                                <p>London ( Shared Hosting // VPS Hosting // Dedicated Hosting )</p>
                            </li>
                            <li>
                                <img src="assets/img/icon/right.svg" alt="">
                                <p>Tokyo ( Shared Hosting // Dedicated Hosting )</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About-1 Area End -->
    <!--? About-2 Area Start -->
    <div class="about-area1 pb-bottom" id="helpDesk">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption about-caption3 mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Dedicated support</h2>
                        </div>
                        <p class="mb-40">We are always here for you! if you're facing any issue with any of our services do not hesitate to conatct us on the following methods:</p>
                        <ul class="mb-30">
                            <li>
                                <img src="assets/img/icon/right.svg" alt="">
                                <p>Email: stripe.payments.online@gmail.com</p>
                            </li>
                            <li>
                                <img src="assets/img/icon/right.svg" alt="">
                                <p>Phone Number: +1 (567) 268-8320</p>
                            </li>
                        </ul>
                        <a href="mailto:stripe.payments.online@gmail.com" class="btn"><i class="fas fa-envelope"></i>Send Mail</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="assets/img/gallery/about2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-wrappr " data-background="assets/img/gallery/footer-bg.png">
        <div class="footer-area footer-padding ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo mb-25">
                                <a href="/"><img src="assets/img/logo/logo2_footer.png" alt=""> PexiStore</a>
                            </div>
                            <div class="footer-tittle mb-50">
                                <p>Subscribe our newsletter to get updates about our services</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Subscribe
                                            </button>
                                            <script>
                                                var sub_button = document.getElementById("newsletter-submit")
                                                var email_button_sub = document.getElementById("newsletter-form-email")
                                                sub_button.addEventListener("click", () => {
                                                    if(email_button_sub.value.length != 0 && email_button_sub.value.includes("@") == true){
                                                         fetch("/e/s/new", {
                                                            method:"POST",
                                                            headers:{
                                                                "Content-Type":"application/json"
                                                            },
                                                            body:JSON.stringify({
                                                                email:email_button_sub.value
                                                            })
                                                        })
                                                        .then(res => res.json())
                                                        .then(data => {
                                                            if(data.status == true){
                                                                alert(data.message)
                                                                email_button_sub.value = "";
                                                            }else{
                                                                alert(data.message)
                                                            }
                                                        })
                                                        .catch(e => {
                                                            alert(e)
                                                        })
                                                    }else{
                                                        alert("INVALID EMAIL ADDRESS!")
                                                    }
                                                })
                                            </script>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>How to reach us?</h4>
                                <a href="javascript:;">You can reach us by calling us at (567) 268-8320 or sending us an E-mail by clicking <a href="mailto:stripe.payments.online@gmail.com">HERE</a></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Can't Pay With Card?</h4>
                                <a href="javascript:;">If you want to pay with BTC/LTC/PayPal feel free to contact us via E-mail by clicking <a href="mailto:stripe.payments.online@gmail.com">HERE</a></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Why choose us?</h4>
                                <a href="javascript:;">as a small business there is no client rush so our service will be quite fast and support tickets will be answered 100% faster as well!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                   <a href="https://digitalocean.com" target="_blank">Services Powered By DigitalOcean</a> 
                                   <br>
                                   <a href="https://stripe.com" target="_blank">Payment System Powered By Stripe</a> 
                             </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script>
    function getPar(parameterName) {
        let url = new URL(window.location.href)
        let params = new URLSearchParams(url.search);
        var result = params.get(parameterName);

        if(result.lenght != ""){
            return result
        }else{
            return false;
        }
    }

const status = getPar("status");

setTimeout(() => {
    if(status != false){
    if(status == "success"){
        const email = getPar("email");
        alert(`Payment successful! Your data will be emailed to ${email} \n\n#If you cannot find our email on your inbox please check your spam folder. \n\n#Our email might be delayed up to 2 hours.`)
    }else{
        alert(`Payment cancelled!`)
    }
}
}, 1500)
</script>

<script src="https://js.stripe.com/v3"></script>

<script>
    const get = (id) => document.getElementById(id)

    const sharedButton = get("shared-buy");
    const vpsButton = get("vps-buy");

    const randSecu = Math.floor(100000 + Math.random() * 900000);

    function setCookie(cname, cvalue) {
        const d = new Date();
        d.setTime(d.getTime() + (60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function extend(id, secureCode){
        const ele = get(id);
        const subEle = id.split("-")[0];
        ele.innerHTML = `
  <label class="field field_v1" style="width:70%">
    <input class="field__input" placeholder="e.g. Joseph" id="${subEle}-firstname">
    <span class="field__label-wrap">
      <span class="field__label">First name</span>
    </span>
  </label>
  <br>
  <br>
  <label class="field field_v1" style="width:70%">
    <input class="field__input" placeholder="e.g. Dave" id="${subEle}-lastname">
    <span class="field__label-wrap">
      <span class="field__label">Last name</span>
    </span>
  </label>
    <br>
  <br>
  <label class="field field_v1" style="width:70%">
    <input class="field__input" placeholder="e.g. Dave@pexistore.com" id="${subEle}-email">
    <span class="field__label-wrap">
      <span class="field__label">Email</span>
    </span>
  </label>
<br><br>

<p id="${subEle}-note" style="font-size: 12px; transform: scale(.7, 1); font-weight: bold;">*We will send your server login and account login to your email SO MAKE SURE IT'S CORRECT!</p>
<a href="javascript:;" class="borders-btn" id="${subEle}-stripe">Proceed to Payment</a>`

   get(`${subEle}-email`).addEventListener("input", () => {
       if(get(`${subEle}-email`).value != ""){
            get(`${subEle}-note`).innerHTML = `*We will send your server login and account login to your email (${get(`${subEle}-email`).value}) SO MAKE SURE IT'S CORRECT!`
       }else{
           get(`${subEle}-note`).innerHTML = `*We will send your server login and account login to your email SO MAKE SURE IT'S CORRECT!`
       }
   })

    get(`${subEle}-stripe`).addEventListener("click", () => {
        if(get(`${subEle}-firstname`).value.length <= 0){
            return alert("Firstname cannot be empty!")
        }
        if(get(`${subEle}-lastname`).value.length <= 0){
            return alert("Lastname cannot be empty!")
        }
        if(get(`${subEle}-email`).value.length <= 0 || get(`${subEle}-email`).value.includes("@") == false){
            return alert("Invalid Email Address!")
        }
        fetch("/s/s/new", {
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                service:`${subEle}-hosting`,
                secureCode:secureCode,
                email:get(`${subEle}-email`).value
            })
        })
        .then(res => res.json())
        .then(data => {
            if(data.status = true){
                const stripe = Stripe("pk_live_51JS5eFDJCYp3oML13Lkal4728vX0IVmjnsDoZNwdoDW1XWrCqkKiQazKLUR8pVNv58KIczOFomBUUtfhHopixu0c00blNmprAq");
                const sessionId = data.message;
                return stripe.redirectToCheckout({ sessionId:sessionId });
            }else{
                alert(data.message)
            }
        })
        .catch(ex => {
            alert(ex);
        })
    })
}

    sharedButton.addEventListener("click", () => {
        setCookie("checkout", `shared-hosting#${randSecu}#5.99`)
        extend("shared-bottom", randSecu)
    })

    vpsButton.addEventListener("click", () => {
        setCookie("checkout", `vps-hosting#${randSecu}#14.99`)
        extend("vps-bottom", randSecu)
    })
</script>

<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./assets/js/gijgo.min.js"></script>

<!-- Video bg -->
<script src="./assets/js/jquery.vide.js"></script>

<!-- Nice-select, sticky -->
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="./assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./assets/js/jquery.counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>
</html>